* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #c8d0d2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title-container {
  display: flex;
  justify-content: center;
}
.title-container p {
  text-wrap: nowrap;
  font-size: calc(100% + 4.5vw);
  font-weight: bold;
}
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.search-bar {
  width: 30rem;
  height: 30px;
  border-radius: 1rem;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  margin-top: 1rem;
  padding-left: 20px;
  transition: 150ms;
}
.search-bar:focus {
  transform: scale(1.4);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}
@media screen and (max-width: 640px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .search-bar {
    width: 20rem;
  }
  .search-bar:focus {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: #c8d0d2;
  min-width: 130px;
  min-height: 130px;
  max-width: 130px;
  height: fit-content;
  transition: 150ms;
}
.card:hover,
.card:focus {
  box-shadow: 0 0 5px 2px rgb(238, 133, 151);
  transform: translateY(-2px) scale(1.1);
  cursor: pointer;
}
.card img {
  padding-top: 1px;
}
.card p {
  overflow-wrap: break-word;
  text-wrap: balance;
  text-align: center;
}
.modal {
  display: flex; /*Hidden by default*/
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 5rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(107, 107, 107); /* Fallback color */
  background-color: rgba(46, 46, 46, 0.8); /* Black w/ opacity */
}
.modal-box {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 50rem;
  min-height: 40vh;
  border-radius: 0.25rem;
}
.close-container {
  text-align: right;
}
.close-button {
  border: none;
  background-color: inherit;
}
.close-button svg {
  margin: 0.5rem;
  width: 25px;
  height: auto;
}
.close-button:hover,
.close-button:focus {
  transform: scale(0.9, 0.9);
  cursor: pointer;
}
.detail {
  margin: 0rem 1rem 0.5rem;
}
i {
  color: #7bbaca;
  font-weight: bold;
}
.movies-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.movie-title {
  border: none;
  background-color: inherit;
  transition: 150ms;
}
.movie-title:hover,
.movie-title:focus {
  cursor: pointer;
  text-shadow: 1px 1px 2px rgb(238, 133, 151);
  transform: translateX(2px) translateY(2px);
}
.dropdown-arrow {
  width: 1rem;
  height: 1rem;
  transition: 150ms;
  transform: rotate(0deg);
}
.dropdown-arrow.up {
  transform: rotate(180deg);
}
.ul-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0.25rem;
  margin-inline-start: 0.5rem;
  padding-inline-start: 0px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  max-width: 20rem;
}
.ul-container img {
  max-width: 10rem;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  border-style: inset;
  /* border-radius: 1rem;  */
}
.imdb {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.imdb a svg {
  max-width: 3rem;
  max-height: 2rem;
  margin-right: 5px;
}
.imdb a {
  transition: 150ms;
}
.imdb a:hover,
a:focus {
  transform: scale(1.2);
}
.no-movie {
  font-style: italic;
  text-align: center;
}
@keyframes growDown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  80% {
    opacity: 0.8;
    transform: scaleY(1.1);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination .nav {
  border: none;
  background-color: inherit;
  transition: 150ms;
}
.pagination .nav:hover,
.nav:focus {
  transform: scale(1.2);
}
.pagination .nav:disabled,
.nav[disabled] {
  fill: rgb(150, 150, 150);
  transform: scale(0.9);
}

.pagination p {
  margin: 0.5rem;
  font-size: 1rem;
  min-width: 2rem;
  text-align: center;
}
/* loading*/
.loading-container {
  display: flex;
  justify-content: center;
}
.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid black;
  border-color: rgb(43, 43, 43) transparent rgb(43, 43, 43) transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    border-color: rgb(43, 43, 43) transparent rgb(43, 43, 43) transparent;
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    border-color: #fdf000 transparent #e81c24 transparent;
  }
  100% {
    transform: rotate(1800deg);
  }
}
